{:paths []

 :deps {}

 :aliases
 {:mcp {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"}
                     com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                              :git/tag "v0.1.6-alpha"
                                              :git/sha "4ad62f4"}}
        :exec-fn clojure-mcp.main/start-mcp-server
        :exec-args {:port 7888}}

  :mvn/repos {"central"        {:url "https://repo1.maven.org/maven2/"}
              "clojars"        {:url "https://clojars.org/repo"}}}}
